<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head> -->
   <% layout("/layouts/boilerplate")  %>
<body>
  
  
  <h1>All Listings</h1>

    <!-- <form method="GET" action="/listings/new">
        <button type="submit" class="btn btn-primary">Create New Listing</button>
    </form > -->
         <div class="row  row-cols-lg-2  row-cols-md-2 row-cols-sm-1 ">
           
        <% for(listing of allListings) {  %>
             <a href="/listings/<%= listing._id %>" class="listing-link">

            <div class="card main-card listing-card" >
                <img src="<%= listing.image %>" class="card-img-top " alt="Listing Image" style="height: 18rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    
                  <p class="card-text">
                    <h4><%= listing.title %></h4><br>
                    &#x20B9;  <%= listing.price.toLocaleString("en-IN") %> /night.
                </p>
                </div>
              </div>

      <%  }  %>
             </a>
    </div>
      <!-- <ul>
          <% for(listing of allListings) {  %>
            <li> <a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
           
        <%  }  %>
      </ul> -->

      
</body>
<!-- </html> -->