<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Show details</title>
</head> -->

   <% layout("/layouts/boilerplate") %>
<body> 
  <br>
        <div class="row">
            <div class="col-8 offset-2">
      <h1><%= listing.title %></h1>
            </div>
       
      <div class="card  col-6 offset-3 listing-card"  >
  <img src="<%= listing.image %>" class="card-img-top show-img" alt="Image Listing">
  <div class="card-body">
    <p class="card-text">
        <br>
        <%= listing.description %> <br>
        &#x20B9; <%= listing.price.toLocaleString("en-IN") %><br>
        <%= listing.location %> <br>
        <%= listing.country %><br><br>
        </p>
  </div>
  


      <!-- <ul>
         <li> <%= listing.title %></li>
         <li> <%= listing.description %></li>
         <li> &#x20B9; <%= listing.price %></li>
         <li> <%= listing.location %></li>
         <li> <%= listing.country %></li>
  
      </ul>  -->
       
        <div class="btns ">
       <a href="/listings/<%= listing._id%>/edit"> <button type="button" class="btn   ">Edit</button></a> 
       <br> <br>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" >
            <button type="submit" class="btn  offset-5" >Delete </button>
        </form>
    </div>
</div>
</div>
</div>  
  

  <div class="offset-3">
    <hr>
     <h1>Leave a Comment</h1>
     <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation"> 
       <div class="mb-3 mt-3" >
       <label ><b>Rating :</b></label>  &nbsp;&nbsp;
       <input type="range" min="1" max="5" name="review[rating]" id="reviews" class="form-range" style="width: 18em;  border: 1px solid black;" />
       </div> 

       <div class="mb-3 mt-3">
        <label for="Comment" ><b>Comment :</b></label>
        <textarea rows="5" cols="10"  class="form-control" name="review[comment]" id="Comment"
          required ></textarea>
          <div class="invalid-feedback">Please add some comments for reviews!</div>
       </div>
       <br>
       <button   type="submit" class="btn ">Submit</button>
       <br><br>
      </form>
          <h4>All Reviews </h4>
         
          <!-- <ul> -->
            <div class="row">   
         <% for(review of listing.reviews){ %>
          <!-- <li><b>Rating: &nbsp;</b><b>Comment: &nbsp;</b><b>Date: &nbsp;</b</li> -->
             
          <div class="card mb-3 ms-3 col-5"  >
                <div class="card-body">
                  <div class="card-title">
                    <B>Unknown User</B>
                  </div>
                  <p class="card-text"><b>Rating :</b> <%= review.rating %> stars</p>
                  <p class="card-text"><b>Comment :</b><%= review.comment %> </p>
               
                  <form  method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE ">
                    <button type="submit" class="btn mb-3 ">Delete</button>

                  </form>
             </div>
            </div>
             
         <% } %> 
          <!-- </ul>   -->
        </div>
      </form>
  </div>
    <hr>
</body>
<!-- </html> -->